{% extends 'basetemplate.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block defaultnavbar %}
        <h1>{{post.title}} - {{post.date}}</h1>
        <p class="indented-text">{{post.body}}</p>
        {% if post.author == request.user %}
            <a href=""><button>Rediger innlegg</button></a>
            <a href="{% url 'delete' post.pk %}"><button>Slett innlegg</button></a>
        {% endif %}
    <h2>Kommentarer</h2>
    {% if not post.comments.all %}
        <p>Ganske tomt her...</p>
    {% else %}
        <div class="kommentar-container">
            {% for comment in post.comments.all %}
                <div class="kommentar">
                {{ comment.comment_author }} - {{ comment.date }}
                <br>
                {{ comment.body }}
                </div>
            {% endfor %}
    {% endif %}
        <div>
            <a href="{% url 'newcomment' pk=object.pk %}">Kommenter</a>
        </div>
        </div>
    {% endblock %}
</body>
</html>