{% extends 'basetemplate.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block defaultnavbar %}
        <h1>Er du sikker på at du vil slette {{ object }}?</h1>
        <div>
            <a href="{% url 'home' %}"><button>Nei, gå tilbake</button></a>
            <form method="POST" class="dangerous-button">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Ja, Slett</button>
            </form>
        </div>
    {% endblock %}
</body>
</html>