<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <p><a href="{% url 'create_post' %}">Nytt innlegg</a></p>
    </div>
    <h1>Blogg</h1>
    <div class="main-container">
        <div class="indented-text post-list">
            {% for post in object_list %}
                <p><a href="{% url 'blog_article_content' post.pk %}"> {{post.title}} </a> - {{post.author.first_name}} {{post.author.last_name}} {{post.date}}<br/></p>
            {% endfor %}
        </div>
    </div>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
</body>
</html>